<app-errores></app-errores>

<!-- Spinner mientras se recuperan los datos -->
<div class="text-center mt-2" *ngIf="loading">
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Procesando solicitud...
    </button>
</div>

<!-- Formulario para Cargo -->
<div class="form-background pl-2 pr-2 pt-2 pb-2 rounded mt-2" *ngIf="!globales.operation_success">
    <h2 class="mt-2">Modificar los Datos del Cargo</h2>
    <form [formGroup]="miFormulario">
        <div class="form-group">
            <label for="id">Identificador Único</label>
            <input type="text" class="form-control text-right font-weight-bold" readonly id="id" name="id" [(ngModel)]="unCargo.id" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input formControlName="cantidad" type="number" class="form-control text-right" required id="cantidad" name="cantidad" [(ngModel)]="unCargo.cantidad" [ngModelOptions]="{standalone: true}">
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert" *ngIf="cantidad.invalid && ( cantidad.dirty || cantidad.touched )">
                <p *ngIf="cantidad.errors.required">El campo <strong>Cantidad</strong> es obligatorio.</p>
                <p *ngIf="cantidad.errors.min">El campo <strong>Cantidad</strong> requiere que indique al menos <strong>1 unidad</strong> en la cantidad.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="form-group">
            <label for="tipoCargo">Tipo de Cargo</label>

            <select class="form-control" id="tipoCargo" name="tipoCargo" formControlName="tipoCargo" required [(ngModel)]="unCargo.tipoCargo.id" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let unTipoCargo of tiposCargos" value="{{unTipoCargo.id}}">{{unTipoCargo.nombre}}</option>
            </select>
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert" *ngIf="tipoCargo.invalid && ( tipoCargo.dirty || tipoCargo.touched )">
                <p *ngIf="tipoCargo.errors.required">Debe indicar un <strong>Tipo de Cargo</strong> de la lista desplegable.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="form-group">
            <label for="tipoEntidad">Tipo de Entidad</label>

            <select class="form-control" id="tipoEntidad" name="tipoEntidad" formControlName="tipoEntidad" required [(ngModel)]="unCargo.tipoEntidad.id" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let unTipoEntidad of tiposEntidades" value="{{unTipoEntidad.id}}">{{unTipoEntidad.nombre}}</option>
            </select>
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert" *ngIf="tipoEntidad.invalid && ( tipoEntidad.dirty || tipoEntidad.touched )">
                <p *ngIf="tipoEntidad.errors.required">Debe indicar un <strong>Tipo de Entidad</strong> de la lista desplegable.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-secondary" data-toggle="modal" data-target="#modalCancelar"><i class="fas fa-ban"></i> Salir</button>
            <button class="btn btn-success ml-1" (click)="guardar()"><i class="fas fa-pen-square"></i> Confirmar</button>
        </div>
      </form>
</div>
<app-back-home></app-back-home>