<!-- Mensaje de bienvenida -->

<div class="alert alert-primary alert-dismissible fade show mt-2" role="alert">
    <h1 class="alert-heading">¡Bienvenido!</h1>
    <p>Hola, ésta es la pantalla principal de este nuevo proyecto. Con tu ayuda lo mejoraremos para que tu experiencia sea más agradable.</p>
    <hr>
    <p class="mb-0">Cualquier cosa que necesites, no dudes en contactar con el <a href="mailto:saulkrujoski@gamil.com" class="alert-link">equipo</a> para pedirlo, tan pronto como nos sea posible, nos encargaremos de resolverlo.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>