<app-errores></app-errores>
<!-- Formulario para Cargo -->
<div class="form-background pl-2 pr-2 pt-2 pb-2 rounded mt-2" *ngIf="!globales.operation_success">
    <h2 class="mt-2">Registrar nuevo Tipo de Entidad</h2>
    <form [formGroup]="miFormulario">
        <div class="form-group">
            <label for="cantidad">Nombre</label>
            <input type="text" class="form-control text-right" id="nombre" name="nombre" formControlName="nombre" placeholder="Nombre del Tipo de Cargo" autofocus required [(ngModel)]="unaEntidad.nombre">
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert" *ngIf="nombre.invalid && ( nombre.dirty || nombre.touched )">
                <p *ngIf="nombre.errors.required">El campo <strong>Nombre</strong> es obligatorio.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-secondary" data-toggle="modal" data-target="#modalCancelar"><i class="fas fa-ban"></i> Cancelar</button>
            <button class="btn btn-info ml-1 mr-1" (click)="limpiar()"><i class="fas fa-eraser"></i> Limpiar</button>
            <button class="btn btn-success" (click)="guardar()" [disabled]="!miFormulario.valid"><i class="fas fa-save"></i> Guardar</button>
        </div>
      </form>
</div>
<app-back-home></app-back-home>